@{

    ViewData["Title"] = "CapyZoo - game";

    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Capybara Game</title>
    <link rel="stylesheet" type="text/css" href="/css/Style.css">
</head>
<body>
    <div id="game-container">
        <div class="capybara"></div>
    </div>
    <div id="score-container">
        Score: <span id="score">0</span>
    </div>
    <div id="timer-container">
        Time: <span id="timer">30</span>
    </div>
    <div class="back-button">
        <a asp-area="" asp-controller="Game" asp-action="Index" class="btn">Back to WebSite</a>
    </div>

    <script src="/js/site.js"></script>
</body>
</html>