@model Cart
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kapizoo</title>
    <link rel="stylesheet" href="~/css/sketchy.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kapizoo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-WCgK4Y...rZgKf6+" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="fa-solid fa-fork"></i>CapyZoo<i class="fa-solid fa-fork"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Store">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                         <li class="nav-item dropdown text-white">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu text-bg-white text-black">
                                <a class="nav-link dropdown-item text-black" asp-area="">1</a>
                                <a class="nav-link dropdown-item text-black" asp-area="">2</a>
                                <a class="nav-link dropdown-item text-black" asp-area="">3</a>

                                    <div class="dropdown-divider">
                                    </div>
                                        <a class="nav-link dropdown-item text-black" asp-area="">4</a>

                                </div>
                            </li>
                    </ul>
                </div>
                <div class="navbar-text text-end ">
                    @if (Model?.Lines.Count() > 0)
                    {
                        <small class="navbar-text">
                            <b>Your cart:</b>
                            @Model?.Lines.Sum(x => x.Quantity) item(s)
                            @Model?.ComputeTotalValue().ToString("c")
                        </small>
                    }
                    <a class="btn btn-sm btn-secondary navbar-btn" asp-area="" asp-controller="Cart" asp-action="Index">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Kapizoo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/57c05df5db.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
