@using KapyZoo.Shared.Models;
@model Cart
@{
    ViewData["Title"] = "CapyZoo - Store";
}

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 0 calc(33.33% - 10px);
        margin-bottom: 20px;
        border: 1px solid #222;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .name-price-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .gender-age-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
</style>

<div class="row container pb-3 backgroundWhite">
    <h2 class="pl-1 mt-2"><b>Available Capybaras</b></h2>
    <div class="col-12">
        <div class="card-container">
            @foreach (var c in (List<Capybara>)ViewData["Capybaras"])
            {
                <partial name="CapybaraSummary" model="c" />
            }
        </div>
    </div>
</div>