@using KapyZoo.Shared.Models;
@model GalleryPicture


<form asp-area="" asp-controller="Admin" asp-action="GalleryPictureUpsert" method="post" class="m-2" enctype="multipart/form-data">
    <input type="hidden" name="GalleryPictureId" value="@Model?.GalleryPictureId" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="col-9">
                <h2 class="text-primary pl-3">
                   @(Model != null ? "Update" : "Create") Capybara Picture
                </h2>

                <hr />
                <div asp-validation-summary="All" class=" text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span></>
                </div>
                <div class="mb-3">
                    <label asp-for="Picture"></label>
                    <input type="file" name="files" id="uploadBox" class="form-control" />
                </div>
                <div class="col-3">
                    @if (Model?.GalleryPictureId != 0)
                    {
                        <img src="@Model?.Picture"  style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" />
                    }
                </div>
            </div>
        </div>
        @if(Model == null)
        {
            <button type="submit" class="btn btn-outline-success mt-3" style="width:150px;">Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-outline-warning mt-3" style="width:150px;">Update</button>
        }

        <a asp-area="" asp-controller="Gallery" asp-action="Index" class="btn btn-outline-info mt-3">Back to Gallery</a>
    </div>

</form>