@using KapyZoo.Shared.Models;
@model Int32
@{
    ViewData["Title"] = "CapyZoo";
}

<div class="container-row mt-2">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Succesfully!</h1>
        Your Purchase ID is: @Model <br /><br />
        <img src="~/img/Completed-order.jpg" width="60%" height="700px"  />

    </div>

    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed succesfully! <br />
        Please make sure to take care of Capybaras!
    </div>
</div>